@tailwind base;
@tailwind components;
@tailwind utilities;

html {

  font-weight: 400;
  color: white;
  font-family: var(--font-barlow);
}

body {
  margin: 0;

}

.react-horizontal-scrolling-menu--wrapper {
  height: 100%;
}
.react-horizontal-scrolling-menu--inner-wrapper {
  height: 100%;
}
.react-horizontal-scrolling-menu--item {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
  display: none;
}

.react-horizontal-scrolling-menu--scroll-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  height: 100% !important;
}

.gallery-container {
  display: flex; /* Use flexbox layout */
  overflow-x: hidden; /* Prevent overflow from showing outside */
  align-items: center; /* Center images vertically if needed */
}

.scroll-menu {
  display: flex; /* Ensure the scroll menu itself is also flexible */
}

h1 {
  font-size: 25px; /* Default size for small screens */

  font-weight: 400;

  @screen md {
    font-size: 32px; /* Medium screens */
  }

  @screen lg {
    font-size: 35px; /* Large screens */
  }
}

p {
  font-size: 15px; /* Default size for small screens */
  font-weight: 200;
  line-height: 18px;

  @screen lg {
    font-size: 16px; /* Large screens */
    line-height: 21px;
  }

  @screen 2xl {
    font-size: 17px;
    line-height: 22px;
  }
}
